.fluid-container {
  height: 100vh;
}

.row {
  border: 1px solid yellowgreen;
  height: inherit;
}

.left {
  border: 1px solid red;
  background-color: blue;
  clip-path: ellipse(100% 165% at 10% -65%);
  color: white;
  padding-bottom: 10vh;
}

.box {
  margin: 5vh 3vw 5vh 1vw;
  font-weight: 2em;
  font-size: 0.9rem;
}

.left .box button {
  width: 15vw;
  margin-top: 2vh;
}

.col-6 img {
  width: 50%;
  
  margin-left: 10vw;
}

.col-6 {
  border: 1px solid blue;
}